In [1]:
import pandas as pd
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt


from sklearn.preprocessing import StandardScaler
#uploaded = files.upload()

# 새 섹션

In [2]:
#rom google.colab import drive
#drive.mount('/content/drive')

In [3]:
df = pd.read_csv("/content/drive/MyDrive/cpding/asdf/이게_진짜임.csv" )

In [4]:
df

,Unnamed: 0,Unnamed: 0.1,날짜,지역,누적확진,사망자,누적 격리해제,총 검사자,지역별인구수
0,0,0,20200217,서울,14,0,3,8718,9733655
1,1,1,20200217,부산,0,0,0,8718,3409932
2,2,2,20200217,대구,0,0,0,8718,2433568
3,3,3,20200217,인천,1,0,1,8718,2952689
4,4,4,20200217,광주,2,0,0,8718,1455705
...,...,...,...,...,...,...,...,...,...
13391,14178,14178,20220414,전북,506089,713,30386,31418426,1786855
13392,14179,14179,20220414,전남,498075,310,6933,31418426,1832803
13393,14180,14180,20220414,경북,638886,1063,23516,31418426,2626609
13394,14181,14181,20220414,경남,957801,1027,56646,31418426,3314183
13395,14182,14182,20220414,제주,204471,147,11681,31418426,676759

In [5]:
x = df[["지역별인구수","사망자" ,"누적확진"]]
y = df[['누적 격리해제']]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size = 0.7, test_size = 0.3)

In [7]:
model = LinearRegression()
model = model.fit(x_train, y_train)

In [8]:
x_test

        지역별인구수  사망자    누적확진
3960    670508    0      59
5531   1121592   32     760
7943   1441611   22    2783
3545   1538577    3     215
9041   2626609   87    5484
...        ...  ...     ...
3613   1538577    3     217
7975   2385412  221    9916
12918  3314183  350  474224
2237   1597639    0      63
4849   1455705    3     675

[4019 rows x 3 columns]

In [9]:

y_predict = model.predict(x_test)

In [11]:
import joblib
joblib.dump(model, './COVID_19.pkl')

['./COVID_19.pkl']